@import '../../Colors.scss';

.searchBox{
    flex-grow: 0;
    margin-bottom: 55px;
    margin-top: -43px;
    position: relative;
    z-index: 10;
    .ais-SearchBox {
    
        .ais-SearchBox-submit{
            display: none;
        }
    
        input[type="search"]::-webkit-search-decoration,
        input[type="search"]::-webkit-search-cancel-button,
        input[type="search"]::-webkit-search-results-button,
        input[type="search"]::-webkit-search-results-decoration {
        -webkit-appearance:none;
        }
    
        .ais-SearchBox-input {
            position: relative;
            height: auto;
            width: 100%;
            max-width: 100%;
            width: 100%;
            padding: 8px 16px 8px 66px;
            font-weight: normal;
            border: none;
            font-family: inherit;
            font-size: inherit;
            line-height: inherit;
            -webkit-appearance: none;
            appearance: none;
            background: #FFFFFF;
            box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.08);
            border-radius: 12px;
            height: 80px;
            font-size: 14px;
            line-height: 190%;
            color: $cinza;
        }
    
        .ais-SearchBox-reset{
            background: none;
            padding: 0;
            border: none;
            right: 30px;
            position: absolute;
            left: inherit;
            right: 10px !important;
            top: 39%;
            transform: translateY(-100%);
            margin: 14px 16px;
            cursor: pointer;
    
            svg {
                width: 13px;
                height: 13px;
                display: block;
                fill: #ed5a6a;
            }
        }
    }
    .searchBox--icon{
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-100%);
        margin: 14px 16px;
        cursor: pointer;
        z-index: 2;
    
        svg{
            width: 28px;
            height: 28px;
            display: block;
        }
    }
}
.variaveis-wrap{
    display: flex;
    gap: 30px;

    .--left-column{
        width: 300px;
    }
    
    .--right-column{
        flex: 1;
    }
}
h3{
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: $black;
    margin: 0 0 10px 0;
}

h2{
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: $black;
    margin: 0 0 10px 0;
}
input[type=checkbox]{
    accent-color: $primaria;
    width: 15px;
    height: 15px;
    position: relative;
    top: 3px;
}
.ais-RefinementList-item{
    margin-bottom: 10px;
}
.ais-RefinementList-checkbox {
    margin: 0 5px 0 0;
}
.ais-RefinementList-labelText,
.ais-RefinementList-labelText:hover {
  color: $primaria;
  width: 100%;
}
.ais-RefinementList-labelText{
  font-size: 14px;
  line-height: 16px;
  color: $black;
  cursor: pointer;
  transition: all .35s;
  text-transform: capitalize;
}
.ais-RefinementList-item--selected{
    .ais-RefinementList-labelText{
        color: $primaria;
    }
}
.ais-RefinementList-count {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: $cinza;
    padding: 3px;
    border-radius: 4px;
    background: #E4E4E4;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    height: 22px;
    min-width: 22px;
}
.ais-RefinementList-item--selected{
    .ais-RefinementList-count {
        background: rgba(64, 154, 117, .15);
        color: $primaria;
    }
}
.--header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    
    .stats{
        display: flex;
        align-items: center;
        gap: 12px;
    
        h2{
            margin-bottom: 0;
            line-height: 23px;
        }
    
        span{
            font-size: 12px;
            color: $cinza;
            display: inline-block;
            margin-top: 4px;
        }
    }

    .pagesCount{
        font-size: 12px;
        line-height: 14px;
        color: $cinza;
    }
}
.ais-SearchBox-loadingIndicator{
    position: absolute;
    z-index: 333;
    top: 32px;
    right: 60px;
}
.ais-CurrentRefinements-label{
    display: none;
}
.ais-CurrentRefinements-item{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.ais-CurrentRefinements-category{
    font-size: 12px;
    line-height: 14px;
    color: #409a75;
    background: rgba(64,154,117,.15);
    border-radius: 4px;
    padding: 2px 4px;
    text-transform: capitalize;
    position: relative;
    transition: all .25s;

    .ais-CurrentRefinements-delete{
        font-size: 12px;
        font-weight: 500;
        margin-left: 2px;
        text-transform: lowercase;
        position: relative;
        top: 0px;
        background: none;
        border: none;
        color: #409a75;
        padding: 0;
        margin-left: 5px;
        cursor: pointer;
        transition: all .35s;

        &:hover{
            color: #333;
        }
    }
}
.ais-ClearRefinements-button{
    display: block;
    border-radius: 4px;
    padding: 2px 4px;
    text-transform: capitalize;
    cursor: pointer;
    font-size: 12px;
    line-height: 14px;
    color: #999;
    background: #e4e4e4;
    white-space: nowrap;
    border: 0;

    &.ais-ClearRefinements-button--disabled{
        height: 0;
        overflow: hidden;
        padding: 0;
    }

    &:hover{
        background: #999;
        color: #fff;
    }
}
.refinements{
    display: flex;
    gap: 10px;
}
.ais-Hits-list{
    list-style: none;
    padding: 0;
}
.hit{
    background: #FFFFFF;
    border-radius: 12px;
    position: relative;
    padding: 20px 90px 20px 20px;
    transition: all .35s;
    cursor: pointer;
    margin-bottom: 20px;
  
    .hit-description{
      border: none;
      background: none;
      pointer-events: none;
      color: $cinza-light;
      font-size: 12px;
      line-height: 19px;
      font-weight: 600;
      width: 100%;
      margin-top: 10px;
      margin-bottom: 0;
    }
  
    &:hover{
      box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.08);
    }
  
    .btnCopy{
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(64,154,117,.15);
      border-radius: 10px;
      cursor: pointer;
      padding: 0;
      
      svg{
        width: 16px;
        height: 18px;
        path{
          fill: $primaria;
        }
      }
    
      
    }
  }
  .btnCopy{
    background: rgba(64,154,117,.15);
    color: $primaria;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    font-size: 14px;
    line-height: 26px;
    padding: 5px 15px;
    font-weight: 600;
    
    svg{
      width: 16px;
      height: 18px;
      path{
        fill: $primaria;
      }
    }
  
    &:hover{
        -webkit-touch-callout: auto;
        -webkit-user-select: auto;
        -khtml-user-select: auto;
        -moz-user-select: auto;
        -ms-user-select: auto;
        user-select: auto;
        cursor: url('/assets/img/cursor.svg') 0 0,auto;
    }
  
    &.-copiado, &:active{
        cursor: url('/assets/img/cursor-copiado.svg') 0 0,auto;
    }
  }
  .ais-Pagination {
    display: flex;
    padding: 0;
    background: none;
    list-style: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    box-shadow: none;
    flex-wrap: wrap;
    
    .ais-Pagination-list{
        display: flex;
        gap: 5px;
    }
  }
  
  .ais-Pagination-item,
  .ais-Pagination-item__disabled {
    width: 35px;
    height: 35px;
    margin: 4px;
    background: rgba(64, 154, 117, .15);
    color: $primaria;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    text-align: center;
    border-radius: 4px;

    a{
        transition: 0;
    }
  }
  .ais-Pagination-item__disabled {
    display: none;
  }
  
  .ais-Pagination-item:hover,
  .ais-Pagination-item--selected {
    background-color: $primaria;
    a{
        color: white !important;
    }
  }
  
  .ais-Pagination-item .ais-Pagination-link,
  .ais-Pagination-item__disabled .ais-Pagination-link {
    text-decoration: none;
    color: $primaria;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    display: block;
    font-weight: 500;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ais-Pagination-item__next, .ais-Pagination-item__previous{
    width: auto;
    padding-left: 8px;
    padding-right: 8px;
}
.pagination{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.ais-HitsPerPage-select{
    height: 43px;
    border: 0;
    border-radius: 4px;
    width: 200px;
    padding: 10px;
    color: $cinza;
}