@import '../../Colors.scss';

.header{
    background: linear-gradient(93.33deg, #2E6E66 0.75%, #0D5E53 99.2%);
    border-radius: 0px 0px 60px 60px;
    position: relative;
    overflow: hidden;
  
    .container{
      position: relative;
      z-index: 5;
    }
  
    h1{
      font-weight: 600;
      font-size: 30px;
      line-height: 40px;
      color: white;
      margin: 0;
    }
  
    p{
      margin-bottom: 0;
      font-weight: 600;
      font-size: 16px;
      line-height: 190%;
      text-align: center;
      color: rgba(255, 255, 255, 0.6);
    }

    .content{
        text-align: center;
        width: 100%;
    }
  }
  .blob g{
	transform: translateX(300px) translateY(300px);
  }
  
.blob-1{
	path{
		fill: $primaria;
	}
}
.blob-2{
	path{
		fill: #dff6f1;
    	opacity: .7;
	}
}
.blob-inovacao1{
	position: absolute;
    top: 0;
    left: -360px;
    z-index: 1;
}
.blob-inovacao2{
	position: absolute;
  top: -540px;
    right: -220px;
    z-index: 4;
}
.ajusteBlob-inovacao1{
	position: absolute;
	top: -70px;
    left: -340px;
    z-index: 4;
}
.ajusteBlob-inovacao1{
	path{
		stroke-width: .5px;
		fill: rgba(105, 105, 114, 0);
		stroke: rgba($primaria, .2);
		opacity: 1;
	}
}
.dotsInovacao2{
	position: absolute;
	right: 10%;
    bottom: -120px;
    transform: translateX(-50%) rotate(90deg);
	animation: dots2 1s infinite linear
}
@keyframes dots2 {
  0% {
  bottom: -80px;
  }
  100% {
  bottom: -105px;
  }
}