@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;600;800&family=Open+Sans:wght@300;400;600;700;800&family=Spectral:wght@700&display=swap');

@import './Colors.scss';

//Margin e Padding

$spaceamounts: (0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75,80, 85, 90, 95, 100, 150);
$sides: (top, bottom, left, right); 

@each $space in $spaceamounts {
  @each $side in $sides {
    .m-#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }
  
    .p-#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}

//Margin/Padding mobile
@media (max-width: 767.98px){
  @each $space in $spaceamounts {
    @each $side in $sides {
      .m-#{str-slice($side, 0, 1)}-#{$space}-mobile {
        margin-#{$side}: #{$space}px !important;
      }
    
      .p-#{str-slice($side, 0, 1)}-#{$space}-mobile {
        padding-#{$side}: #{$space}px !important;
      }
    }
  }
}

//Margin/Padding 1200 a 1300
@media (min-width: 1200px) and (max-width: 1300px) {
  @each $space in $spaceamounts {
    @each $side in $sides {
      .m-#{str-slice($side, 0, 1)}-#{$space}-1200 {
        margin-#{$side}: #{$space}px !important;
      }
    
      .p-#{str-slice($side, 0, 1)}-#{$space}-1200 {
        padding-#{$side}: #{$space}px !important;
      }
    }
  }
}

::-moz-selection{
	color:white;
	background:$secondary;
}
::selection{
	color:white;
	background:$secondary;
}
ul{
	padding: 0;
	margin: 0;

	li{
		list-style: none;
	}
}
a{
	transition:all .35s;
  text-decoration: none !important;
}
a:hover,a:focus{
	text-decoration:none;
	outline:none;
}
*:focus{
	outline: none !important;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
  background: #F6F7F8;
  font-family: 'Maven Pro', sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.container{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 1320px;
    padding: 0 15px;

    @media (max-width: 1200px){
        max-width: 1140px;
    }

    @media (max-width: 992px){
        max-width: 960px;
    }

    @media (max-width: 576px){
        max-width: 540px;
    }
}
.btnCopy{
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(64,154,117,.15);
  border-radius: 10px;
  cursor: pointer;
  padding: 0;
  border: 0;
  flex-shrink: 0;
  
  svg{
    width: 16px;
    height: 18px;
    path{
      fill: $primary;
    }
  }

  &.-copied{
    background: rgba(64,154,117,1);

    img{
        width: 20px;
        height: 20px;
    }
  }
}